<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<!--sql2000连接串-->
		<add name="conSql" connectionString="Data Source=localhost;database=fuxiaojun;uid=sa;pwd=ruheshi0372"
		  providerName="System.Data.SqlClient" />
		<add name="oledbConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=XdataAnalyze.mdb"
		providerName="System.Data.OleDb" />
	</connectionStrings>
	<appSettings>
		<!--sql2000连接串-->
		<!--<add key="Testaddsql2000"
    value="server=localhost;database=fuxiaojun;User ID=sa;password=ruheshi0372"/>-->

		<!--access连接串-->
		<add key="addaccess"
		value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\程序书籍软件\c#程序代码\access数据库操作\addressList.mdb"/>

		<!--Access相对路径   Data Source=|DataDirectory|\数据库.mdb 数据库放 App_Data文件夹里 -->
		<add name="AccCnStr"   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\date\date.mdb;Persist Security Info=True"  providerName="System.Data.OleDb" />

	</appSettings>
</configuration>